* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* 平滑滚动 */
}

body {
    font-family: Arial, sans-serif;
}

.section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    
}

.section1 {
    background-image: url('../img/blackmyth_wukong_01.jpg');
}

.section2 {
    background-image: url('../img/Concept_heifenshan3.jpg');
}

.section3 {
    background-image: url('../img/blackmyth_wukong_03.jpg');
}
.section4 {
    background-image: url('../img/blackmyth_wukong_04.jpg');
}


.tooltiptext {
	 visibility: hidden; 
    position: absolute;
    bottom: 20px;
    left: -50%;
	top:-200%;
	width: 600px;
	height: 100px;
	text-align:center;
	font-size:33px;
    color: white;
	font-family: "楷体";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 1s;
  
	
}
 .tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
 }
 

.tooltip{

	position: absolute;
    z-index: 0;
	display:block;
	font-weight:normal;
	font-size:50px;
	color:#FFFFFF;
	font-family: "楷体";
	/* background-color: aqua; */
	text-align:center;
	padding:4px;
	text-decoration:none;
    background-image: url('../img/10010.png'); 
    background-size: cover;
}
a:hover,a:active
{
	font-size:60px;
	
}
.floating-image {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.floating-image img {
    width: 150px; 
    height: auto;
    border-radius: 10px;
    display: block;
}
.floating-image p {
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin: 0;
    border-radius: 5px;
    font-size: 18px;
    font-family: "楷体";
}