body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/blackmyth_wukong_screenshot_019.jpg');
	background-size: cover;
    transition: background-image 1s; 
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: 1;
	background-color: #000000;
	background-size: cover;
	color: #fff;
	padding: 10px 20px;
}

.daohang {
	position: absolute;
	z-index: 0;
	display: block;
	font-weight: normal;
	font-size: 30px;
	color: #FFFFFF;
	font-family: "楷体";
	text-align: center;
	padding: 4px;
	text-decoration: none;
}

.daohang:hover {
	color: crimson;
}

#container {
    position: relative;
    width: 1000px;
    height: 400px;
}

#character {
    position: absolute;
    width: 300px;
    height: 300px;
	left: -28%;
	top: -30%;
    background: url('./img/Concept_wukong.png') no-repeat center center;
    background-size: contain;
    transition: left 1s, top 1s; 
}

.button {
    position: absolute;
    padding: 10px;
	background-image: url("img/news-more-btn.jpg");
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
	font-family: "楷体";
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 1px solid #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#popup-text {
    color: white; 
	font-family: "楷体";
	font-size: 20px;
}

.hidden {
    display: none;
}
